<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Dashboard</a>
  <h2 class="title">Create a new post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Subject:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Subject Title"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Content "/>
    </div>
    <button type="submit" class="button is-success is-pulled-right">Post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>